
#wb_header { height: 270px; }
#wb_header > .wb_cont_bg { background: transparent none repeat scroll left top; }
#wb_main { height: 810px; padding-bottom: 50px; }
#wb_main > .wb_cont_bg { background: transparent none repeat scroll left top; }
#wb_footer { height: 50px; }
#wb_footer > .wb_cont_bg { background: transparent none repeat-x scroll left top; }
/*body { background: transparent url("../gallery_gen/2e2b5ed481378571fee71d28f855c5fc.jpg") no-repeat scroll center top; }*/
.wb_sbg { background: transparent none repeat-x scroll left top; }
body, .wb_sbg { min-width: 1200px; min-height: 1130px; }
.wb_cont_inner { width: 1200px; }
.wb_cont_bg { width: 1200px; margin-left: -600px; }
.root { height: 1080px; overflow: visible; min-height: 1130px; }
#wb_element_instance33 { top: 190px; left: 0px; min-width: 1200px; width: 1200px; min-height: 58px; height: 58px; display: block; z-index: 398; }
#wb_element_instance33 ul { background: transparent none repeat scroll left top; border: 1px none #000000; }
#wb_element_instance33, #wb_element_instance33 ul { text-align: left; }
#wb_element_instance33 ul ul { background: #2e2e2e none repeat scroll left top; }
#wb_element_instance33 li { margin: 0px 0px 0px 0px; }
#wb_element_instance33 li a { text-transform: none; border: 0px none #000000; padding: 18px 20px 18px 20px; font: normal normal 20px 'PT Sans',sans-serif; text-decoration: none; color: #ffffff; line-height: 22px; background: transparent none repeat scroll left top; }
#wb_element_instance33 li.over > a, #wb_element_instance33 li:focus > a { border: 0px none #000000; font: normal normal 20px 'PT Sans',sans-serif; text-decoration: none; color: #ffffff; line-height: 22px; background: #16aa9e none no-repeat scroll left top; }
#wb_element_instance33 li.active > a { border: 0px none #000000; font: normal normal 20px 'PT Sans',sans-serif; text-decoration: none; color: #ffffff; line-height: 22px; background: #16aa9e none repeat scroll left top; }
#wb_element_instance33:not(.collapse-expanded) .vmenu ul.open-left,#wb_element_instance33:not(.collapse-expanded) .hmenu ul.open-left { left: auto; right: 100%; }
#wb_element_instance33:not(.collapse-expanded) .hmenu > li > ul.open-left { left: auto; right: 0; }
#wb_element_instance34 { top: 40px; left: 210px; min-width: 220px; width: 220px; min-height: 96px; height: 96px; display: block; z-index: 114; }
#wb_element_instance35 { top: 10px; left: 0px; min-width: 200px; width: 200px; min-height: 160px; height: 160px; display: block; z-index: 215; }
#wb_element_instance35 img { width: 200px; height: 160px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance36 { top: 10px; left: 20px; min-width: 247px; min-height: 40px; height: 40px; display: block; z-index: 211; }
#wb_element_instance37 { top: 10px; left: 20px; min-width: 1160px; width: 1160px; min-height: 194px; height: 194px; display: block; z-index: 114; }
#wb_element_instance38 { top: 460px; left: 40px; min-width: 330px; width: 330px; min-height: 230px; height: 230px; display: block; z-index: 115; }
#wb_element_instance38 img { width: 330px; height: 230px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance39 { top: 460px; left: 420px; min-width: 340px; width: 340px; min-height: 230px; height: 230px; display: block; z-index: 116; }
#wb_element_instance39 img { width: 340px; height: 230px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance40 { top: 460px; left: 820px; min-width: 340px; width: 340px; min-height: 230px; height: 230px; display: block; z-index: 117; }
#wb_element_instance40 img { width: 340px; height: 230px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance41 { top: 220px; left: 20px; min-width: 1160px; width: 1160px; min-height: 66px; height: 66px; display: block; z-index: 118; }
#wb_element_instance42 { top: 300px; left: 20px; min-width: 1160px; width: 1160px; min-height: 132px; height: 132px; display: block; z-index: 119; }
#wb_element_instance43 { top: 0px; left: 0px; min-width: 1200px; width: 1200px; min-height: 710px; height: 710px; display: block; z-index: 60; }
#wb_element_instance43 > .wb_shp { background: #16aa9e none repeat scroll left top; background-size: auto auto; border: 0px solid #C0C0C0; opacity: 0.8; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; width: 1200px; height: 710px; }
#wb_element_instance44 { top: 730px; left: 0px; display: block; z-index: 9000; }
#wb_element_instance45 { top: 70px; left: 0px; display: block; z-index: 9999; }


#wb_element_instance34 p:last-child { margin-bottom: 0; }
#wb_element_instance36 p:last-child { margin-bottom: 0; }
#wb_element_instance37 p:last-child { margin-bottom: 0; }
#wb_element_instance41 p:last-child { margin-bottom: 0; }
#wb_element_instance42 p:last-child { margin-bottom: 0; }


@media (min-width: 768px) {
}

@media (min-width: 992px) {
}
