
.wb-stl-pagetitle { font: normal bold 50px "Merriweather",serif; color: #ffffff; text-decoration: none; text-align: left; line-height: 48px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
.wb-stl-pagetitle a { font: normal bold 50px "Merriweather",serif; color: #000000; text-decoration: none; text-align: left; line-height: 48px; font-weight: normal; font-style: normal; }
.wb-stl-pagetitle a:hover { font: normal bold 50px "Merriweather",serif; color: #000000; text-decoration: none; text-align: left; line-height: 48px; font-weight: normal; font-style: normal; }
.wb-stl-pagetitle ul { list-style-image: url(''); }
.wb-stl-subtitle { font: normal normal 72px Tahoma,Geneva,sans-serif; color: #16aa9e; text-decoration: none; text-align: left; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
.wb-stl-subtitle a { font: normal normal 72px Tahoma,Geneva,sans-serif; color: #000000; text-decoration: none; text-align: left; font-weight: normal; font-style: normal; }
.wb-stl-subtitle a:hover { font: normal normal 72px Tahoma,Geneva,sans-serif; color: #000000; text-decoration: none; text-align: left; font-weight: normal; font-style: normal; }
.wb-stl-subtitle ul { list-style-image: url(''); }
.wb-stl-heading1 { font: normal bold 40px "Merriweather",serif; color: #16aa9e; text-decoration: none; text-align: left; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
.wb-stl-heading1 a { font: normal bold 40px "Merriweather",serif; color: #000000; text-decoration: none; text-align: left; font-weight: normal; font-style: normal; }
.wb-stl-heading1 a:hover { font: normal bold 40px "Merriweather",serif; color: #000000; text-decoration: none; text-align: left; font-weight: normal; font-style: normal; }
.wb-stl-heading1 ul { list-style-image: url(''); }
.wb-stl-heading2 { font: normal bold 48px Arial,Helvetica,sans-serif; color: #000000; text-decoration: none; text-align: left; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
.wb-stl-heading2 a { font: normal bold 48px Arial,Helvetica,sans-serif; color: #000000; text-decoration: none; text-align: left; font-weight: normal; font-style: normal; }
.wb-stl-heading2 a:hover { font: normal bold 48px Arial,Helvetica,sans-serif; color: #000000; text-decoration: none; text-align: left; font-weight: normal; font-style: normal; }
.wb-stl-heading2 ul { list-style-image: url(''); }
.wb-stl-heading3 { font: normal normal 20px "Merriweather",serif; color: #0040ff; text-decoration: none; text-align: left; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
.wb-stl-heading3 a { font: normal normal 20px "Merriweather",serif; color: #0040ff; text-decoration: none; text-align: left; font-weight: normal; font-style: normal; }
.wb-stl-heading3 a:hover { font: normal normal 20px "Merriweather",serif; color: #0040ff; text-decoration: underline; text-align: left; font-weight: normal; font-style: normal; }
.wb-stl-heading3 ul { list-style-image: url(''); }
.wb-stl-heading4 { font: normal normal 16px "Merriweather",serif; color: #0040ff; text-decoration: none; text-align: left; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
.wb-stl-heading4 a { font: normal normal 16px "Merriweather",serif; color: #0040ff; text-decoration: none; text-align: left; font-weight: normal; font-style: normal; }
.wb-stl-heading4 a:hover { font: normal normal 16px "Merriweather",serif; color: #0040ff; text-decoration: underline; text-align: left; font-weight: normal; font-style: normal; }
.wb-stl-heading4 ul { list-style-image: url(''); }
.wb-stl-normal { font: normal normal 14px 'PT Sans',sans-serif; color: #474747; text-decoration: none; text-align: left; line-height: 22px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
.wb-stl-normal a { font: normal normal 14px 'PT Sans',sans-serif; color: #f5f5f5; text-decoration: none; text-align: left; line-height: 22px; font-weight: normal; font-style: normal; }
.wb-stl-normal a:hover { font: normal normal 14px 'PT Sans',sans-serif; color: #16aa9e; text-decoration: none; text-align: left; line-height: 22px; font-weight: normal; font-style: normal; }
.wb-stl-normal ul { list-style-image: url(''); }
.wb-stl-highlight { font: normal normal 72px 'PT Sans',sans-serif; color: #ffffff; text-decoration: none; text-align: left; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: capitalize; }
.wb-stl-highlight a { font: normal normal 72px 'PT Sans',sans-serif; color: #ffffff; text-decoration: underline; text-align: left; font-weight: bold; font-style: normal; }
.wb-stl-highlight a:hover { font: normal normal 72px 'PT Sans',sans-serif; color: #d9f1ff; text-decoration: none; text-align: left; font-weight: bold; font-style: normal; }
.wb-stl-highlight ul { list-style-image: url(''); }
.wb-stl-special { font: normal bold 14px Arial,Helvetica,sans-serif; color: #000000; text-decoration: underline; text-align: left; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: capitalize; }
.wb-stl-special a { font: normal bold 14px Arial,Helvetica,sans-serif; color: #000000; text-decoration: none; text-align: left; font-weight: normal; font-style: normal; }
.wb-stl-special a:hover { font: normal bold 14px Arial,Helvetica,sans-serif; color: #000000; text-decoration: none; text-align: left; font-weight: normal; font-style: normal; }
.wb-stl-special ul { list-style-image: url(''); }
.wb-stl-footer { font: normal normal 16px 'PT Sans',sans-serif; color: #f5f5f5; text-decoration: none; text-align: left; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: capitalize; }
.wb-stl-footer a { font: normal normal 16px 'PT Sans',sans-serif; color: #f5f5f5; text-decoration: underline; text-align: left; font-weight: bold; font-style: normal; }
.wb-stl-footer a:hover { font: normal normal 16px 'PT Sans',sans-serif; color: #16aa9e; text-decoration: none; text-align: left; font-weight: bold; font-style: normal; }
.wb-stl-footer ul { list-style-image: url(''); }
.wb-stl-custom1 { font-size: 14px; }
.wb-stl-custom2 { font-size: 14px; }
.wb-stl-custom3 { font-size: 14px; }

#wb_element_instance0 { top: 190px; left: 0px; min-width: 1200px; width: 1200px; min-height: 58px; height: 58px; display: block; z-index: 398; }
#wb_element_instance0 ul { background: transparent none repeat scroll left top; border: 1px none #000000; }
#wb_element_instance0, #wb_element_instance0 ul { text-align: left; }
#wb_element_instance0 ul ul { background: #2e2e2e none repeat scroll left top; }
#wb_element_instance0 li { margin: 0px 0px 0px 0px; }
#wb_element_instance0 li a { text-transform: none; border: 0px none #000000; padding: 18px 20px 18px 20px; font: normal normal 20px "Merriweather",serif; text-decoration: none; color: #ffffff; line-height: 22px; background: transparent none repeat scroll left top; }
#wb_element_instance0 li.over > a, #wb_element_instance0 li:focus > a { border: 0px none #000000; font: normal normal 20px "Merriweather",serif; text-decoration: none; color: #ffffff; line-height: 22px; background: #16aa9e none no-repeat scroll left top; }
#wb_element_instance0 li.active > a { border: 0px none #000000; font: normal normal 20px "Merriweather",serif; text-decoration: none; color: #ffffff; line-height: 22px; background: #16aa9e none repeat scroll left top; }
#wb_element_instance0:not(.collapse-expanded) .vmenu ul.open-left,#wb_element_instance0:not(.collapse-expanded) .hmenu ul.open-left { left: auto; right: 100%; }
#wb_element_instance0:not(.collapse-expanded) .hmenu > li > ul.open-left { left: auto; right: 0; }
#wb_element_instance1 { top: 40px; left: 210px; min-width: 220px; width: 300px; min-height: 96px; height: 96px; display: block; z-index: 114; }
#wb_element_instance2 { top: 10px; left: 0px; min-width: 200px; width: 200px; min-height: 160px; height: 160px; display: block; z-index: 215; }
#wb_element_instance2 img { width: 200px; height: 160px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance3 { top: 10px; left: 20px; min-width: 247px; min-height: 40px; height: 40px; display: block; z-index: 211; }
#wb_element_instance4 { top: 350px; left: 440px; min-width: 300px; width: 300px; min-height: 310px; height: 310px; display: block; z-index: 150; }
#wb_element_instance4 img { width: 300px; height: 310px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance5 { top: 90px; left: 0px; min-width: 1200px; width: 1200px; min-height: 87px; height: 87px; display: block; z-index: 136; }
#wb_element_instance6 { top: 9px; left: 0px; min-width: 1200px; width: 1200px; min-height: 116px; height: 116px; display: block; z-index: 150; }
#wb_element_instance7 { top: 180px; min-width: 110px; width: 110px; min-height: 90px; height: 90px; display: block; z-index: 154; }
#wb_element_instance7 .wb_button { width: 110px; height: 90px; font-family: 'PT Sans',sans-serif; font-size: 14px; text-align: center; border: 0px solid #cccccc; border-radius: 0px; -webkit-border-radius: 0px; -moz-border-radius: 0px; color: #f5f5f5; font-style: normal; font-weight: normal; text-decoration: none; background: transparent url('../gallery_gen/2bc3d147e744b2d1e38b30b3dd51ee03.png') no-repeat scroll center top; }
#wb_element_instance7 .wb_button:hover { color: #16aa9e; font-style: normal; font-weight: normal; text-decoration: none; background: transparent url('../gallery_gen/c6c2e891fa5e6c66b9ae42751417b471.png') no-repeat scroll center top; }
#wb_element_instance7 .wb_button:active { color: #16aa9e; font-style: normal; font-weight: normal; text-decoration: none; background: transparent url('../gallery_gen/c6c2e891fa5e6c66b9ae42751417b471.png') no-repeat scroll center top; }
#wb_element_instance8 { top: 290px; left: 0px; display: block; z-index: 9000; }
#wb_element_instance9 { top: 70px; left: 0px; display: block; z-index: 9999; }

#wb_element_instance1 p:last-child { margin-bottom: 0; }
#wb_element_instance3 p:last-child { margin-bottom: 0; }
#wb_element_instance5 p:last-child { margin-bottom: 0; }
#wb_element_instance6 p:last-child { margin-bottom: 0; }

#wb_element_instance10 { top: 190px; left: 0px; min-width: 1200px; width: 1200px; min-height: 58px; height: 58px; display: block; z-index: 398; }
#wb_element_instance10 ul { background: transparent none repeat scroll left top; border: 1px none #000000; }
#wb_element_instance10, #wb_element_instance10 ul { text-align: left; }
#wb_element_instance10 ul ul { background: #2e2e2e none repeat scroll left top; }
#wb_element_instance10 li { margin: 0px 0px 0px 0px; }
#wb_element_instance10 li a { text-transform: none; border: 0px none #000000; padding: 18px 20px 18px 20px; font: normal normal 20px "Merriweather",serif; text-decoration: none; color: #ffffff; line-height: 22px; background: transparent none repeat scroll left top; }
#wb_element_instance10 li.over > a, #wb_element_instance10 li:focus > a { border: 0px none #000000; font: normal normal 20px "Merriweather",serif; text-decoration: none; color: #ffffff; line-height: 22px; background: #16aa9e none no-repeat scroll left top; }
#wb_element_instance10 li.active > a { border: 0px none #000000; font: normal normal 20px "Merriweather",serif; text-decoration: none; color: #ffffff; line-height: 22px; background: #16aa9e none repeat scroll left top; }
#wb_element_instance10:not(.collapse-expanded) .vmenu ul.open-left,#wb_element_instance10:not(.collapse-expanded) .hmenu ul.open-left { left: auto; right: 100%; }
#wb_element_instance10:not(.collapse-expanded) .hmenu > li > ul.open-left { left: auto; right: 0; }
#wb_element_instance11 { top: 40px; left: 210px; min-width: 220px; width: 300px; min-height: 96px; height: 96px; display: block; z-index: 114; }
#wb_element_instance12 { top: 10px; left: 0px; min-width: 200px; width: 200px; min-height: 160px; height: 160px; display: block; z-index: 215; }
#wb_element_instance12 img { width: 200px; height: 160px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance13 { top: 10px; left: 20px; min-width: 247px; min-height: 40px; height: 40px; display: block; z-index: 211; }
#wb_element_instance14 { top: 0px; left: 0px; min-width: 1200px; width: 1200px; min-height: 610px; height: 610px; display: block; z-index: 54; }
#wb_element_instance14 > .wb_shp { background: #16aa9e none repeat scroll left top; background-size: auto auto; border: 0px solid #C0C0C0; opacity: 0.8; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; width: 1200px; height: 610px; }
#wb_element_instance15 { top: 10px; left: 20px; min-width: 1160px; width: 1160px; min-height: 300px; height: 300px; display: block; z-index: 113; }
#wb_element_instance16 { top: 340px; left: 90px; min-width: 450px; width: 450px; min-height: 250px; height: 250px; display: block; z-index: 114; }
#wb_element_instance16 img { width: 450px; height: 250px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance17 { top: 340px; left: 650px; min-width: 440px; width: 440px; min-height: 250px; height: 250px; display: block; z-index: 115; overflow: hidden; }
#wb_element_instance17 img { width: 440px; height: 300px; display: block; position: relative; left: 0px; top: -30px; max-width: inherit; }
#wb_element_instance18 { top: 630px; left: 0px; display: block; z-index: 9000; }
#wb_element_instance19 { top: 70px; left: 0px; display: block; z-index: 9999; }

#wb_element_instance11 p:last-child { margin-bottom: 0; }
#wb_element_instance13 p:last-child { margin-bottom: 0; }
#wb_element_instance15 p:last-child { margin-bottom: 0; }

#wb_element_instance20 { top: 190px; left: 0px; min-width: 1200px; width: 1200px; min-height: 58px; height: 58px; display: block; z-index: 398; }
#wb_element_instance20 ul { background: transparent none repeat scroll left top; border: 1px none #000000; }
#wb_element_instance20, #wb_element_instance20 ul { text-align: left; }
#wb_element_instance20 ul ul { background: #2e2e2e none repeat scroll left top; }
#wb_element_instance20 li { margin: 0px 0px 0px 0px; }
#wb_element_instance20 li a { text-transform: none; border: 0px none #000000; padding: 18px 20px 18px 20px; font: normal normal 20px "Merriweather",serif; text-decoration: none; color: #ffffff; line-height: 22px; background: transparent none repeat scroll left top; }
#wb_element_instance20 li.over > a, #wb_element_instance20 li:focus > a { border: 0px none #000000; font: normal normal 20px "Merriweather",serif; text-decoration: none; color: #ffffff; line-height: 22px; background: #16aa9e none no-repeat scroll left top; }
#wb_element_instance20 li.active > a { border: 0px none #000000; font: normal normal 20px "Merriweather",serif; text-decoration: none; color: #ffffff; line-height: 22px; background: #16aa9e none repeat scroll left top; }
#wb_element_instance20:not(.collapse-expanded) .vmenu ul.open-left,#wb_element_instance20:not(.collapse-expanded) .hmenu ul.open-left { left: auto; right: 100%; }
#wb_element_instance20:not(.collapse-expanded) .hmenu > li > ul.open-left { left: auto; right: 0; }
#wb_element_instance21 { top: 40px; left: 210px; min-width: 220px; width: 300px; min-height: 96px; height: 96px; display: block; z-index: 114; }
#wb_element_instance22 { top: 10px; left: 0px; min-width: 200px; width: 200px; min-height: 160px; height: 160px; display: block; z-index: 215; }
#wb_element_instance22 img { width: 200px; height: 160px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance23 { top: 10px; left: 20px; min-width: 247px; min-height: 40px; height: 40px; display: block; z-index: 211; }
#wb_element_instance24 { top: 10px; left: 20px; min-width: 1160px; width: 1160px; min-height: 194px; height: 194px; display: block; z-index: 108; }
#wb_element_instance25 { top: 460px; left: 40px; min-width: 330px; width: 330px; min-height: 230px; height: 230px; display: block; z-index: 109; }
#wb_element_instance25 img { width: 330px; height: 230px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance26 { top: 460px; left: 420px; min-width: 340px; width: 340px; min-height: 230px; height: 230px; display: block; z-index: 110; }
#wb_element_instance26 img { width: 340px; height: 230px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance27 { top: 460px; left: 820px; min-width: 340px; width: 340px; min-height: 230px; height: 230px; display: block; z-index: 111; }
#wb_element_instance27 img { width: 340px; height: 230px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance28 { top: 220px; left: 20px; min-width: 1160px; width: 1160px; min-height: 66px; height: 66px; display: block; z-index: 112; }
#wb_element_instance29 { top: 300px; left: 20px; min-width: 1160px; width: 1160px; min-height: 132px; height: 132px; display: block; z-index: 113; }
#wb_element_instance30 { top: 0px; left: 0px; min-width: 1200px; width: 1200px; min-height: 710px; height: 710px; display: block; z-index: 54; }
#wb_element_instance30 > .wb_shp { background: #16aa9e none repeat scroll left top; background-size: auto auto; border: 0px solid #C0C0C0; opacity: 0.8; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; width: 1200px; height: 710px; }
#wb_element_instance31 { top: 730px; left: 0px; display: block; z-index: 9000; }
#wb_element_instance32 { top: 70px; left: 0px; display: block; z-index: 9999; }

#wb_element_instance21 p:last-child { margin-bottom: 0; }
#wb_element_instance23 p:last-child { margin-bottom: 0; }
#wb_element_instance24 p:last-child { margin-bottom: 0; }
#wb_element_instance28 p:last-child { margin-bottom: 0; }
#wb_element_instance29 p:last-child { margin-bottom: 0; }

#wb_element_instance33 { top: 190px; left: 0px; min-width: 1200px; width: 1200px; min-height: 58px; height: 58px; display: block; z-index: 398; }
#wb_element_instance33 ul { background: transparent none repeat scroll left top; border: 1px none #000000; }
#wb_element_instance33, #wb_element_instance33 ul { text-align: left; }
#wb_element_instance33 ul ul { background: #2e2e2e none repeat scroll left top; }
#wb_element_instance33 li { margin: 0px 0px 0px 0px; }
#wb_element_instance33 li a { text-transform: none; border: 0px none #000000; padding: 18px 20px 18px 20px; font: normal normal 20px "Merriweather",serif; text-decoration: none; color: #ffffff; line-height: 22px; background: transparent none repeat scroll left top; }
#wb_element_instance33 li.over > a, #wb_element_instance33 li:focus > a { border: 0px none #000000; font: normal normal 20px "Merriweather",serif; text-decoration: none; color: #ffffff; line-height: 22px; background: #16aa9e none no-repeat scroll left top; }
#wb_element_instance33 li.active > a { border: 0px none #000000; font: normal normal 20px "Merriweather",serif; text-decoration: none; color: #ffffff; line-height: 22px; background: #16aa9e none repeat scroll left top; }
#wb_element_instance33:not(.collapse-expanded) .vmenu ul.open-left,#wb_element_instance33:not(.collapse-expanded) .hmenu ul.open-left { left: auto; right: 100%; }
#wb_element_instance33:not(.collapse-expanded) .hmenu > li > ul.open-left { left: auto; right: 0; }
#wb_element_instance34 { top: 40px; left: 210px; min-width: 220px; width: 300px; min-height: 96px; height: 96px; display: block; z-index: 114; }
#wb_element_instance35 { top: 10px; left: 0px; min-width: 200px; width: 200px; min-height: 160px; height: 160px; display: block; z-index: 215; }
#wb_element_instance35 img { width: 200px; height: 160px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance36 { top: 10px; left: 20px; min-width: 247px; min-height: 40px; height: 40px; display: block; z-index: 211; }
#wb_element_instance37 { top: 10px; left: 20px; min-width: 1160px; width: 1160px; min-height: 194px; height: 194px; display: block; z-index: 114; }
#wb_element_instance38 { top: 460px; left: 40px; min-width: 330px; width: 330px; min-height: 230px; height: 230px; display: block; z-index: 115; }
#wb_element_instance38 img { width: 330px; height: 230px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance39 { top: 460px; left: 420px; min-width: 340px; width: 340px; min-height: 230px; height: 230px; display: block; z-index: 116; }
#wb_element_instance39 img { width: 340px; height: 230px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance40 { top: 460px; left: 820px; min-width: 340px; width: 340px; min-height: 230px; height: 230px; display: block; z-index: 117; }
#wb_element_instance40 img { width: 340px; height: 230px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance41 { top: 220px; left: 20px; min-width: 1160px; width: 1160px; min-height: 66px; height: 66px; display: block; z-index: 118; }
#wb_element_instance42 { top: 300px; left: 20px; min-width: 1160px; width: 1160px; min-height: 132px; height: 132px; display: block; z-index: 119; }
#wb_element_instance43 { top: 0px; left: 0px; min-width: 1200px; width: 1200px; min-height: 710px; height: 710px; display: block; z-index: 60; }
#wb_element_instance43 > .wb_shp { background: #16aa9e none repeat scroll left top; background-size: auto auto; border: 0px solid #C0C0C0; opacity: 0.8; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; width: 1200px; height: 710px; }
#wb_element_instance44 { top: 730px; left: 0px; display: block; z-index: 9000; }
#wb_element_instance45 { top: 70px; left: 0px; display: block; z-index: 9999; }

#wb_element_instance34 p:last-child { margin-bottom: 0; }
#wb_element_instance36 p:last-child { margin-bottom: 0; }
#wb_element_instance37 p:last-child { margin-bottom: 0; }
#wb_element_instance41 p:last-child { margin-bottom: 0; }
#wb_element_instance42 p:last-child { margin-bottom: 0; }

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

/* ========== Override ========== */

body {
    background-color: #f8f8f8;
    font-family: "Roboto", sans-serif;
}

.link-modal { cursor: pointer; }

/* ========== Sticky Header ========== */

.header {
    padding: 10px 16px;
    background-color: #0002a6;
    border-bottom: 1px solid #08355e;
    box-shadow: 0 3px 3px 0 rgba(16,24,37,0.25);
    color: #f1f1f1;
    z-index: 5;
}
/* Page content */
.content {
    padding: 16px;
}
/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%
}
/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
    padding-top: 306px;
}

/* ========== Boxes ========== */

.box-sm { padding: 10px 0; }
.box-xl { padding: 20px 50px; }

.box-sm, .box-xl {
    transition: box-shadow .3s;
    border-radius:10px;
    border: 1px solid #e6e7e9;
    background-color: #fff;
    box-shadow: 0 2px 0 0 rgba(230,230,230,0.5);
}
.box-sm:hover, .box-xl:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}
.row            { border-bottom: 1px solid #e6e7e9; }
.row:last-child { border-bottom: none; }

.flag-sm {
    width: 24px;
    height: 16px;
    border: 1px solid #c7c6c6;
}

.flag-md {
    width: 48px;
    height: 32px;
    border: 1px solid #c7c6c6;
}

.modal-md { width: 800px; }
.modal-X { font-size: 48px; }
.modal-close { font-size: 26px; }

a:hover.link-pointer { cursor: pointer; }

.no-display { display: none; }

/* ========== Colors ========== */

.blue { color: #0040ff; }
.navy-blue-neon { color: #0002a6;}

/*Tertiary*/
.gray1 { color: #333333; }
.gray2 { color: #5c6066; }
.gray3 { color: #858585; }
.gray4 { color: #c7c6c6; }
.gray5 { color: #e6e7e9; }
.gray6 { color: #f8f8f8; }

/* ========== Typography ========== */

.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }

.weight-thin { font-weight: 100; }
.weight-extra-light { font-weight: 200; }
.weight-light { font-weight: 300; }
.weight-regular { font-weight: 400; }
.weight-medium { font-weight: 500; }
.weight-semi-bold { font-weight: 600; }
.weight-bold { font-weight: 700; }
.weight-black { font-weight: 900; }
.font-bold { font-weight: bold; }

.font-xxl { font-size: 48px; }
.font-xl { font-size: 40px; }
.font-xl:hover { font-size: 40px; }

.h1-ff1, .h1-ff2, .h1-ff3, .h1-ff4, .h1-ff5, .h1-ff1:hover, .h1-ff2:hover, .h1-ff3:hover, .h1-ff4:hover, .h1-ff5:hover {
    font-size: 36px;
}
.h2-ff1, .h2-ff2, .h2-ff3, .h2-ff4, .h2-ff5 {
    font-size: 30px;
}
.h3-ff1, .h3-ff2, .h3-ff3, .h3-ff4, .h3-ff5 {
    font-size: 20px;
}
.h4-ff1, .h4-ff2, .h4-ff3, .h4-ff4, .h4-ff5 {
    font-size: 18px;
}
.h5-ff1, .h5-ff2, .h5-ff3, .h5-ff4, .h5-ff5 {
    font-size: 16px;
}
.h6-ff1, .h6-ff2, .h6-ff3, .h6-ff4, .h6-ff5 {
    font-size: 14px;
}
.h1-ff1, .h2-ff1, .h3-ff1, .h4-ff1, .h5-ff1, .h6-ff1 {
    font-family: "Courgette", cursive;
}
.h1-ff2, .h2-ff2, .h3-ff2, .h4-ff2, .h5-ff2, .h6-ff2 {
    font-family: "Monoton", cursive;
}
.h1-ff3, .h2-ff3, .h3-ff3, .h4-ff3, .h5-ff3, .h6-ff3 {
    font-family: "Oswald", sans-serif;
}
.h1-ff4, .h2-ff4, .h3-ff4, .h4-ff4, .h5-ff4, .h6-ff4 {
    font-family: "Roboto", sans-serif;
}
.h1-ff5, .h2-ff5, .h3-ff5, .h4-ff5, .h5-ff5, .h6-ff5 {
    font-family: "Merriweather", serif;
}

/* ========== Utilities ========== */

.border-top-gray2 { border-top: 1px solid #5c6066; }
.border-bottom-gray2 { border-bottom: 1px solid #5c6066; }
.border-left-gray2 { border-left: 1px solid #5c6066; }
.border-right-gray2 { border-right: 1px solid #5c6066; }

.border-top-gray5 { border-top: 1px solid #e6e7e9; }
.border-bottom-gray5 { border-bottom: 1px solid #e6e7e9; }
.border-left-gray5 { border-left: 1px solid #e6e7e9; }
.border-right-gray5 { border-right: 1px solid #e6e7e9; }

.margin-top-xs { margin-top: 5px; }
.margin-bottom-xs { margin-bottom: 5px; }
.margin-left-xs { margin-left: 5px; }
.margin-right-xs { margin-right: 5px; }
.margin-tb-xs { margin-top: 5px; margin-bottom: 5px; }
.margin-lr-xs { margin-left: 5px; margin-right: 5px; }

.margin-top-sm { margin-top: 10px; }
.margin-bottom-sm { margin-bottom: 10px; }
.margin-left-sm { margin-left: 10px; }
.margin-right-sm { margin-right: 10px; }
.margin-tb-sm { margin-top: 10px; margin-bottom: 10px; }
.margin-lr-sm { margin-left: 10px; margin-right: 10px; }

.margin-top-md { margin-top: 20px; }
.margin-bottom-md { margin-bottom: 20px; }
.margin-left-md { margin-left: 20px; }
.margin-right-md { margin-right: 20px; }
.margin-tb-md { margin-top: 20px; margin-bottom: 20px; }
.margin-lr-md { margin-left: 20px; margin-right: 20px; }

.margin-top-lg { margin-top: 40px; }
.margin-bottom-lg { margin-bottom: 40px; }
.margin-left-lg { margin-left: 40px; }
.margin-right-lg { margin-right: 40px; }
.margin-tb-lg { margin-top: 40px; margin-bottom: 40px; }
.margin-lr-lg { margin-left: 40px; margin-right: 40px; }

.padding-top-xs { padding-top: 5px; }
.padding-bottom-xs { padding-bottom: 5px; }
.padding-left-xs { padding-left: 5px; }
.padding-right-xs { padding-right: 5px; }
.padding-tb-xs { padding-top: 5px; padding-bottom: 5px; }
.padding-lr-xs { padding-left: 5px; padding-right: 5px; }

.padding-top-sm { padding-top: 10px; }
.padding-bottom-sm { padding-bottom: 10px; }
.padding-left-sm { padding-left: 10px; }
.padding-right-sm { padding-right: 10px; }
.padding-tb-sm { padding-top: 10px; padding-bottom: 10px; }
.padding-lr-sm { padding-left: 10px; padding-right: 10px; }

.padding-top-md { padding-top: 20px; }
.padding-bottom-md { padding-bottom: 20px; }
.padding-left-md { padding-left: 20px; }
.padding-right-md { padding-right: 20px; }
.padding-tb-md { padding-top: 20px; padding-bottom: 20px; }
.padding-lr-md { padding-left: 20px; padding-right: 20px; }

.padding-top-lg { padding-top: 40px; }
.padding-bottom-lg { padding-bottom: 40px; }
.padding-left-lg { padding-left: 40px; }
.padding-right-lg { padding-right: 40px; }
.padding-tb-lg { padding-top: 40px; padding-bottom: 40px; }
.padding-lr-lg { padding-left: 40px; padding-right: 40px; }

.no-padding-top { padding-top: 0; }
.no-padding-bottom { padding-bottom: 0; }
.no-padding-left { padding-left: 0; }
.no-padding-right { padding-right: 0; }
.no-padding-tb { padding-top: 0; padding-bottom: 0; }
.no-padding-lr { padding-left: 0; padding-right: 0; }
