
.wb-stl-footer { font: normal normal 16px 'PT Sans',sans-serif; color: #333333; text-decoration: none; text-align: left; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: capitalize; }
.wb-stl-footer a { font: normal normal 16px 'PT Sans',sans-serif; color: #333333; text-decoration: underline; text-align: left; font-weight: bold; font-style: normal; }
.wb-stl-footer a:hover { font: normal normal 16px 'PT Sans',sans-serif; color: #16aa9e; text-decoration: none; text-align: left; font-weight: bold; font-style: normal; }
